[Unit]
Description=Jarvis daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 {{SRV_DIR}}/jarvisd.py --use-stored
StandardOutput=append:{{SRV_DIR}}/logs/output.log
StandardError=append:{{SRV_DIR}}/logs/error.log

[Install]
WantedBy=multi-user.target
